/* Body Wrapper */
.wrapper {

}

.logo {
	display: block;
	margin: auto;
	height: 75px;
	margin-top: -5em;
}

.banner {
	margin-top: 5em;
	margin-bottom: 5em;
}

.about-row {
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #F1F7EE;
}

.banner-row {
	background-color: #FF6F59;
}


.portfolio-row {
	background-color: #70C1B3;
	padding-bottom: 2em;
}

.portfolio {
	background-color: #70C1B3;
}


.portfolio-img {
	height: 300px;
	width: 300px;
}
.portfolio-header {
	padding-top: 2em;
	padding-bottom: 1em;
}

.contact {
	background-color: #FFAF87;
	padding-top: 2em;
	padding-bottom: 2em;
}

.banner-text {
	color: #F1F7EE;
	padding-top: 1em;
}
/* Banner Typed Text */
#banner-typed-text {
	color: #F1F7EE;
	font-weight: bold;
}

.header-para {
	padding-left: 3em;
	padding-right: 3em;
}

.port-btn {
	display: inline-block;
	margin: auto;
	border-color: #ffffff !important;
	color: #ffffff !important;
	margin-top: 1em;
}

.header-img {
	height: 75px;
	width: 75px;
	display: block;
	margin: auto;
	position: relative;
	top: -10px;
}

.card-body {
	height: 275px;
	max-height: 350px;
}

/* Footer */
.footer {
 background-color: #9CAFB7;
}